<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.dreamland.biz.zkb.dao.ZkbXgyzDao">

    <delete id="deleteBeforeDate">
        DELETE
        FROM zkb_xgyz
        where zkb_xgyz.relTime &lt; #{dayTime}
    </delete>

    <select id="getLast" resultType="java.lang.String">
        select max(id) FROM zkb_xgyz
    </select>
</mapper>
